
.content-course{
  color: var(--milega-color-white);
  text-align: left;
  width: 100%;
  min-width: 500px;
  max-width: 700px;
  margin: 0 auto;
}

.content-form {
  background: var(--color-transparent-black);
  padding: 50px 50px;
  border-radius: 5px;
  width: 90%;
  min-width: 500px;
  max-width: 700px;
  margin: 0;
  position: relative;
}

.content-form textarea {
  border-radius: 5px;
  width: 100%;
  min-height: 80px;
  height: 120px;
  resize: none;
  z-index: -1;
}

.content-course > h1 {
  font-family: AvenirNext-Bold;
  font-size: 50px;
  letter-spacing: -0.54px;
  margin: 0.2em 0;
}

.content-course > h2 {
  font-family: AvenirNext-Bold;
  font-size: 30px;
  letter-spacing: -0.33px;
  line-height: 31px;
  margin: 0.4em 0;
}

.content-form > p {
  font-family: AvenirNext-Regular;
  font-size: 20px;
  letter-spacing: 0.33px;
  line-height: 21px;
  margin: 0.4em 0;
}

.button-day-form {
  width: 30px;
  height: 30px;
  background-image: url("/assets/images/edit.svg");
  z-index: 100;
  position: absolute;
  right: 55px;
  margin-top: -25px;
  cursor: pointer;
  background-size: 100%;
}

.saveButton {
  display: none;
  background: var(--milega-color-dark-green);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.guide-nav-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-left: 0;
  width: calc(100%);
}
