.modal-form{
  background: var(--color-transparent-black);
  padding: 10px 10px 25px 10px;
  border-radius: 5px;
  width: 50%;
  min-width: 370px;
  max-width: 370px;
  margin: 0 auto;
  color: var(--milega-color-white);
  font-family: AvenirNext-Regular;
  font-size: 24px;
  color: #393939;
  letter-spacing: -0.26px;
}

a.remember-me{
  color: var(--milega-color-white);
  text-decoration: none;
  font-size: 0.7em;
}

a.remember-me:hover{
  color: #CCC;
}


@media all and (max-width: 610px) {
  .modal-form{
    width: 100%;
    min-width: auto;
  }
}

.form-wrapper{
  color: var(--milega-color-white);
}

.form-wrapper form{
  position: relative;
}

.form-wrapper input{
  display: block;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.1);
  margin: 25px auto 25px auto;
  width: 90%;
  color: #000;
  outline: none;
}


::-webkit-input-placeholder{
  color: #393939;
}

.form-wrapper input[type=checkbox]{
  display: inline-block;
  position: absolute;
  margin-top: 4px;
  margin-left: 10px;
}

.form-wrapper .button-group{
  display: flex;
  width: 95%;
  margin: 0 auto;
}


.form-wrapper button{
  font-family: AvenirNext-Regular;
  font-size: 19px;
  color: #FFFFFF;
  letter-spacing: -0.21px;
  background: var(--milega-color-dark-green);
  padding: 6px 15px;
  margin: 0 10px;
  border: 1px solid var(--milega-color-dark-green);
  border-radius: 3px;
  width: 60%;
  cursor: pointer;
}

.form-wrapper button[type=submit]{
  display: block;
  width: 40%;
}


.form-wrapper .error{
  color: var(--milega-color-red);
  display: block;
  margin-top: -20px;
  margin-bottom: 10px;
}
