.modal-form{
  background: var(--color-transparent-black);
  padding: 18px 15px 35px 15px;
  border-radius: 5px;
  width: 50%;
  min-width: 400px;
  max-width: 400px;
  margin: 14% auto 0 auto;
  color: var(--milega-color-white);
  font-family: AvenirNext-Regular;
  font-size: 24px;
  color: #393939;
  letter-spacing: -0.26px;
}

label{
  display: block;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: -15px;
  margin-left: 20px;
}

a.remember-me{
  color: var(--milega-color-white);
  text-decoration: none;
  font-size: 0.7em;
}

a.remember-me:hover{
  color: #CCC;
}


@media all and (max-width: 610px) {
  .modal-form{
    width: 100%;
    min-width: auto;
  }
}

.form-wrapper{
  color: var(--milega-color-white);
}

.form-wrapper form{
  position: relative;
}

.form-wrapper input, .form-wrapper select{
  display: block;
  padding: 10px;
  font-size: 23px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.1);
  margin: 25px auto 25px auto;
  width: 90%;
  color: #000;
  outline: none;
}


::-webkit-input-placeholder{
  color: #666;
}

.form-wrapper input[type=checkbox]{
  display: inline-block;
  position: absolute;
  margin-top: 4px;
  margin-left: 10px;
}


.form-wrapper button{

}

.form-wrapper button[type=submit]{
  display: block;
  width: 40%;
}

.form-wrapper button[type=button]{
  display: block;
  width: 60%;
}

.form-wrapper button.wide{
  width: auto;
}

.form-wrapper .error, .form-wrapper .success{
  display: block;
  color: var(--milega-color-red);
  margin: 10px 0 0 0;
  font-size: 20px;
  text-align: center;
  background: rgba(0,10,0,.5);
  padding: 3px;
}

.form-wrapper input + .error, .form-wrapper select + .error{
  margin: -20px 0 10px 0;
  border-radius: 4px;
}

 .form-wrapper .success{
   color: green;
 }

.g-recaptcha{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
