.guide-wrapper{
  padding: 60px 70px;
  padding-bottom: 25px;
  background: var(--color-transparent-black);
  border-radius: 10px;
  max-width: 851px;
  margin: 10px auto;
  margin-top: 6%;
}

.guide-content{
  padding: 20px 70px;
  background: var(--milega-color-white);
  border-radius: 10px;
  text-align: left;
  font-family: AvenirNext-Regular;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
}

.guide-nav-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: -25px;
  margin-left: -25px;
  width: calc(100% + 50px);
}

.guide-nav-buttons > a{
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-size: 99.99999%; /* Fix for some display bug with svgs*/
}

.guide-nav-buttons > a:hover{
}

.guide-nav-buttons .left-arrow{
  background-image: url('/assets/images/arrow.svg');
}

.guide-nav-buttons .cross{
  background-image: url('/assets/images/x.svg');
}

.guide-nav-buttons .success{
  background-image: url('/assets/images/success.svg');
}

.guide-nav-buttons .right-arrow{
  background-image: url('/assets/images/arrow.svg');
  transform:scaleX(-1);
}

.guide-nav-buttons .hidden{
  visibility: hidden;
}

@media all and (max-width: 800px) {
  .guide-wrapper{
    padding: 30px;
  }
  .guide-content {
    padding: 20px;
  }
}
