.jti-result {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  padding: 0;
}

.jti-result .stats-wrapper{
  position: relative;
  flex-basis: 400px;
  min-width: 300px;
  margin-top: 40px;
}

.jti-result .stats{
  padding: 0 0 30px 0;
  border-right: 4px solid var(--color-light-green);
  min-width: 300px;
}

.jti-result .stats.fixed{
  position: fixed;
  top: 20px;
}

.jti-result .text{
  flex-basis: 100%;
  padding: 40px 20px 0 20px;
  font-size: 20px;
  letter-spacing: −0.22px;
  line-height: 30px;
}

.jti-result .text > h2{
  margin: 0;
}

.jti-test{
  position: relative;
}

.jti-test .test-item{
  display: flex;
  width: 50%;
  margin: 0 auto 15px auto;
  font-size: 24px;
  line-height: 18px;
  font-family: AvenirNext-DemiBold;
}

.jti-test .line{
  position: absolute;
  width: 2px;
  height: calc(100% + 20px);
  margin-top: -10px;
  left: 50%;
  background: var(--color-light-green);
}

.jti-test .test-item > div{

}

.jti-test .test-item > .test-letter{
}

.jti-test .test-item > .test-letter:first-child{
  padding-right: 10px;
}

.jti-test .test-item > .test-letter:last-child{
  padding-left: 7px;
}


.jti-test .test-item > .test-bar{
  display: block;
  background: #FFF;
  width: 100%;
  border-radius: 4px;
  border: 2px solid var(--color-light-green);
}

.jti-test .test-item > .test-bar > .test-bar-pos{
  background: var(--color-light-green);
  width: 10px;
  height: 100%;

}

.stats h3{
  text-align: center;
  font-family: AvenirNext-Bold;
  font-size: 30px;
  letter-spacing: -1px;
}

.test-results{
  display: flex;
}

.test-results > ul{
  margin: 0 auto;
  padding: 0;
}

.test-results > ul > li{
  letter-spacing: -0.59px;
  margin-bottom: 4px;
}

.test-results > ul > li.result-title{
  font-family: AvenirNext-Bold;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.analyze-button{
  margin: 40px 0 0 0;
}

.profile-graph + .content-box{
  width: calc(100% - 45px);
  margin-left: 28px;
}


@media all and (max-width: 610px) {
  .jti-result {
    flex-wrap: wrap;
  }
  .jti-result .stats-wrapper{
    flex-basis: 100%;
  }
  .jti-result .stats{
    border-right: none;
  }
  .jti-result .stats.fixed{
    position: relative;;
    top: auto;
  }
}
