.profile-graph{
  display: block;
  padding-bottom:40%;
  margin-bottom: 40px;
  background: url('/assets/images/graph.svg') no-repeat;
  background-size: contain;
}

.profile-graph + .content-box{
  font-size: 20px;
  letter-spacing: −0.22px;
  line-height: 30px;
}
