:root {
  --milega-color-black: #4F5758;
  --milega-color-white: #EEF2F2;
  --milega-color-dark-green: #7AC2BB;
  --milega-color-green: #98D1CE;
  --milega-color-red: #E2464A;
}

*{
  box-sizing: border-box;
}
body {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background: var(--milega-color-dark-green);
  width: 100%;
}

footer {
  background: white;
  display: inline-block;
  width: 100%;
  padding: 20px;
}

footer < p {
  font-size: 10px;
  padding: 5px;
  margin: 5px;
}

.content-wrapper {
  position: relative;
  display: block;
  height: calc(100% - 58px);
  background: url("/assets/images/backgroundimage.png") no-repeat;
  background-size: cover;
}


.content {
  margin: auto;
  width: 80%;
  padding: 30px 10px 10px 10px;
  text-align: center;
}

@media all and (max-width: 610px) {
  .content {
    width: 100%;
  }
}

.nav {
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav img {
  height: 25px;
  width: auto;
}

.nav ul{
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0;
  justify-content: flex-start;
}

.nav ul li{
  margin: 0 30px 20px 0;
}

.nav ul li > a{
  color: #FFF;
}

.login-form {
  width: 200px;
}

#login {
  position: absolute;
  top: 65px;
  right: 10px;
  z-index: 10;
  background-color: white;
  padding: 10px;
  box-shadow: 5px 5px 5px #c3c3c3;
  border-radius: 5px;
  display: none;
}

#loginButton {
border-radius: 5px;
border: 1px solid grey;
padding: 3px;
background-color: white;
margin-top: 3px;
float: right;
}

.loginRow {
border-radius: 5px;
padding: 3px;
margin: 3px;
}

li a {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  color: black;
}

li {
  display: block;

}
