header {
  background: white;
  width: 100%;

}

footer {
  background: white;
  display: inline-block;
  width: 100%;
}

footer < p {
  font-size: 10px;
  padding: 5px;
  margin: 5px;
}

body {
  background: lightgrey;

}

.nav {
  width: 70%;
  margin: 0 auto;
  display: flex;

  justify-content: flex-end;
}

.nav > img {
  height: 25px;
  width: auto;
}

.login-wrapper {

}

.login {

}

li a {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  color: black;
}

li {
  display: block;

}
