:root {
  --milega-color-black: #4F5758;
  --milega-color-white: #EEF2F2;
  --milega-color-dark-green: #7AC2BB;
  --milega-color-green: #98D1CE;
  --milega-color-red: #E2464A;
  --color-dark-green: #626A6C;

  --nav-triangle-height: 18px;
  --nav-triangle-width: 40px;
}

*{
  box-sizing: border-box;
}
html,body {
    margin:0;
    padding:0;
    height:100%;
}

header {
  background: var(--milega-color-dark-green);
  width: 100%;
}

footer {
  position: relative;
  display: block;
  float: right;
  margin-top: -60px;
  margin-right: 30px;
}

footer > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer > ul > li {
  float: left;
  margin-right: 20px;
}

footer > ul > li > a {
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: var(--milega-color-white);
  background-size: contain;
}

footer > ul > li.phone > a {
  background-image: url('/assets/images/smartphone.svg');
}

footer > ul > li.email > a {
  background-image: url('/assets/images/email.svg');
}


footer < p {
  font-size: 10px;
  padding: 5px;
  margin: 5px;
}

.content-wrapper {
  position: relative;
  display: block;
  min-height: calc(100% - 97px);
  padding-bottom: 50px;
  background: url("/assets/images/backgroundimage.png") no-repeat;
  background-size: cover;
}

.content {
  margin: auto;
  width: 80%;
  padding: 30px 10px 10px 10px;
  text-align: center;
}

@media all and (max-width: 610px) {
  .content {
    width: 100%;
  }
}

.nav {
  /*padding: 20px 20px 0 20px;*/
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav img {
  height: 25px;
  width: auto;
}

.nav ul{
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0;
  justify-content: flex-start;
}

.nav ul li{
  display: block;
  position: relative;
}

.nav ul li > a{
  padding: 20px 20px;
  display: block;
  color: #FFF;
  text-align: center;
}

.nav li.selected::after{
  display: block;
  position: absolute;
  left: calc(50% - var(--nav-triangle-width));
  top: calc(58.4px - var(--nav-triangle-height));
  content: "";
  width: 0;
  height: 0;
  border-left: var(--nav-triangle-width) solid transparent;
  border-right: var(--nav-triangle-width) solid transparent;
  border-bottom: var(--nav-triangle-height) solid var(--color-dark-green);
}

.sub-header{
  background: var(--color-dark-green);
}

.sub-header .content{
  display: flex;
  margin: 0 auto;
  padding: 0;
  min-height: 15px;
}

.sub-header .sub-header-item{
}

.sub-header .sub-header-item > a{
  display: block;
  padding: 10px 20px;
  color: var(--milega-color-white);
  text-decoration: none;
}

.sub-header .sub-header-item:hover > a{
  color: #CCC;
}

.sub-header .sub-header-item.selected > a{
  text-decoration: none;
  color: #000;
  cursor: default;
}



.login-form {
  width: 200px;
}

#login {
  position: absolute;
  top: 65px;
  right: 10px;
  z-index: 10;
  background-color: white;
  padding: 10px;
  box-shadow: 5px 5px 5px #c3c3c3;
  border-radius: 5px;
  display: none;
}

#loginButton {
border-radius: 5px;
border: 1px solid grey;
padding: 3px;
background-color: white;
margin-top: 3px;
float: right;
}

.loginRow {
border-radius: 5px;
padding: 3px;
margin: 3px;
}

li a {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  color: black;
}

li {
  display: block;

}
